<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>NSEG #40 デモ</title>

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="well">
            <h1>NSEG #40 Twilio デモ - <%= @well %></h1>
        </div>

        <%= yield %>
        <a href="./">トップへ戻る</a>
    </div>

    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
</body>
</html>